@import url("https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One|Love+Ya+Like+A+Sister|Righteous|Roboto+Mono|Coda");
// Colors
$dark-grey: #263238;
$grey: #666;
$light-grey: #bdc3c7;
$blue: #01579b;
$medium-blue: #1e88e5;
$off-white: #f7f7f7;
$white: #ffffff;
$blue-green: #00bcd4;
$green: #2e7d32;
$orange: #ef6c00;
$black: #0a0a0a;
$dark-blue: #455a64;
$dark-bluegreen: #00838f;
$red: #d8000c;
$light-red: #ffbaba;

//Font size
$font-size-bigbigIcon: 10rem;
$font-size-bigIcon: 5rem;
$font-size-xxxxlarge: 4.5rem;
$font-size-xxxlarge: 3rem;
$font-size-xxlarge: 2.6rem;
$font-size-xlarge: 2.2rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
$font-size-ssmall: 1rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//font-family
$font-content: "Roboto Mono", monospace;
$font-btn: "Concert One", cursive;
$font-title: "Righteous", cursive;
$font-subtitle: "Coda", cursive;
$font-quote: "Love Ya Like A Sister", cursive;
